{% extends "info.html" %}
{% block style_curent %}
div#modal-image img {
  max-width: 100%;
}
.modal-header {
  border-bottom: 0px;
}
#modal-image {
  text-align:center;
  padding: 0 10px;
}
@media (min-width: 992px) {
  .modal-dialog {
    width: 50%
  }
}
@media (max-width: 768px) {
    div.header {
      margin-top: 50px; 
    }
}
{% endblock %}
{% block content %}
    <div class="container header" >
      <div class = "row">
        <h1 class="text-center">{% block title %}Галерея{% endblock %}</h1>
      </div>
    </div>
    <div class="container" >
      {% for j in curent %}
      {% if j %}
      <div class="row">
        {% for k in j %}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <a id = "image_{{ k.id }}" class="thumbnail" onclick = "show_modal({{ k.id }})">
          <img src="/media/image/gallery/thumbs/{{ k.file_name }}" alt="{{ k.comment }}"/>
        </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endfor %}
      {% if pages %}
      <div class ="row text-center">
        <ul class="pagination">
          <li {% if not pages.0 %}class="disabled"{% endif %}><a href="{% if pages.0 %}/gal/page{{ pages.0 }}{% endif %}">&laquo;</a></li>
          {% for k in pages.1 %}
            <li {% if k == page %}class="active"{% endif %}><a href="/gal/page{{ k }}">{{ k }}</a></li>
          {% endfor %}
          <li {% if not pages.2 %}class="disabled"{% endif %}><a href="{% if pages.2 %}/gal/page{{ pages.2 }}{% endif %}">&raquo;</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="modal fade" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="ImageModalLabel" aria-hidden="true">
      <div class="modal-dialog center-block">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
          <div  class="modal-body">
            <div id="modal-image" class = "row">
            </div>
          </div>
	  <div class = "modal-footer" style = "border: 0px;">
            <div class = "text-center">
	      <p></p>
            </div>
            <div class = "pull-left" id = "prev">
              <button type="button" class="btn btn-primary btn-lg" onclick = "image_carousel('prev')"><span class="glyphicon glyphicon-chevron-left"></span></button>
            </div>
            <div class = "pull-right" id = "next">
              <button type="button" class="btn btn-primary btn-lg" onclick = "image_carousel('next')"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
function get_id(object_img){
  return object_img.getAttribute('id').split('image_')[1]
}
function image_carousel(action){
  current_id = $('#modal-image img').attr('id')
  all_img = $('a.thumbnail');
  for (var key = 0; key < all_img.length; key ++){
    if ( get_id(all_img[key]) == current_id ){
      if ( action == 'next') {
        get_image(get_id(all_img[key + 1]));
      }
      else if ( action == 'prev' ) {
        get_image(get_id(all_img[key - 1]));
      } 
      break;
    }
  }
}
function check_prev_next(image_id){
  if ( $('#image_' + image_id).parent().prev().length == 0 && $('#image_' + image_id).parent().parent().prev().length == 0) {
     $('#prev').addClass('hidden')
  }
  else {
     $('#prev').removeClass('hidden')
  }
  if ( $('#image_' + image_id).parent().next().length == 0 && $('#image_' + image_id).parent().parent().next().length == 0) {
     $('#next').addClass('hidden')
  }
  else {
     $('#next').removeClass('hidden')
  }
}
function get_image(image_id){
  check_prev_next(image_id);
  image = $('#image_' + image_id).children('img').attr('src').split('thumbs/');
  image = image[0] + image[1];
  alt = $('#image_' + image_id).children('img').attr('alt');
  document.getElementById("modal-image").innerHTML = '<img id = "'+ image_id + '"src = "' + image + '" alt = "Image load error"/>'; 
  $('div.modal-footer div.text-center p').text(alt);
}
function show_modal(image_id) {
  image = get_image(image_id);
  $("#ImageModal").modal("show");
}
</script>
{% endblock %}
