{% extends "base.html" %}
{% block style_info %}
  .ybl {
    text-align: center;
    margin-top: 20px;
  }
  .inno div {
    text-align: center;
  }
  .inno img {
    max-height: 100px;
  }
  @media (max-width: 768px) {
    div.ybl {
      margin-top: 70px;
    }
  }
{% block style_curent %}{% endblock %}
{% endblock %}
{% block content %}
  <div class="container" >
    <div class = "row ybl" >
      <img src = "/media/{{ objs.0.image }}" style = "max-width: 100%; max-height: 100px; padding-bottom: 10px;"/>
    </div>
    <div class = "row" >
      <div class = "col-lg-4 col-md-4 col-sm-4 col-xs-12">
        {% autoescape off %}{{ objs.0.description }}{% endautoescape %}
      </div>
      <div class = "col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <iframe width="560" height="315" src="//www.youtube.com/embed/SL9ik_WKu_8" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class = "row" >
      <div class = "col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <a href ="/static/pdf/yblochkov-buklet.pdf"><img style = "max-width:100%;" src = "/static/img/yablochkov-titulnik.jpg"/></a>
      </div>
    </div>
    <div class="container header" >
      <div class = "row">
        <h2 class="text-center">Инновационная инфраструктура Пензенской области</h2>
      </div>
    </div>
    <div class = "row inno">
      <div class = "col-sm-6 col-md-4">
        <div class = "thumbnail">
          <img src = "http://penza.ru/images/gerb.png">
          <div class = "caption">
            <p>Правительство пензенской области</p>
            <p><a href = "http://penza.ru" class = "btn btn-primary" role = "button">Перейти на сайт</a></p>
          </div>
        </div>
      </div>
      <div class = "col-sm-6 col-md-4">
        <div class = "thumbnail">
          <img src = "http://inno-terra.ru/themes/innoterra/img/logo.png">
          <div class = "caption">
            <p>Портал инноваторов Пензенской области</p>
            <p><a href = "http://inno-terra.ru" class = "btn btn-primary" role = "button">Перейти на сайт</a></p>
          </div>
        </div>
      </div>
      <div class = "col-sm-6 col-md-4">
        <div class = "thumbnail">
          <img src = "http://biznes-penza.ru/bitrix/templates/probi/images/logo.png">
          <div class = "caption">
            <p>Пензенское региональное объединение бизнес-инкубаторов</p>
            <p><a href = "http://biznes-penza.ru" class = "btn btn-primary" role = "button">Перейти на сайт</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
